#value{
    background-color: rgb(228, 238, 245);
    min-height: 100%;
}

.center-text{
    text-align: center;
}

.full-value{
    min-height: 50vh;
    background-color: rgb(224, 224, 255);
    border-radius: 20px;
    padding: 2px 20px;
}

.bottom-value{
    margin: 0px;
    font-size: small;
}